<div>
  <form class="form" (ngSubmit)="onLogin()" [formGroup]="loginForm">
    <div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Nom d'usager: </mat-label>
          <input name="username" type="text" matInput formControlName="username" />
        </mat-form-field>
        
      </div>
      <div>
        <mat-form-field appearance="fill">
        <mat-label>Mot de passe: </mat-label>
        <input name="password" type="password" matInput formControlName="password" />
      </mat-form-field>
      </div>
    </div>
    <div><button type="submit" mat-button>Connexion</button></div>
  </form>
</div>
