<div class="chat">
  <div class="chat-logout-button">
    <button mat-raised-button color="primary" (click)="onLogout()">
      Déconnexion
    </button>
  </div>
  <div class="chat-messages">
    <div>
      <app-messages [messages]="(messages$ | async)!"></app-messages>
      <app-new-message-form
        (newMessage)="onPublishMessage($event)"
      ></app-new-message-form>
      <input
        #file
        name="file"
        type="file"
        style="display: none"
        accept="image/*"
        (change)="fileChanged($event)"
      />
      <span matSuffix (click)="file.click()">
        <mat-icon>image</mat-icon>
      </span>
    </div>
  </div>
</div>
